<% content_for(:page) do %>
  Spots
<% end %>
<% if current_page?(root_path) %>
  <%= render "shared/homepage" %>
<% end %>

<div class="container" data-controller="filter">
  <%= render "filters" %>
  <div class="misty-effect-container">
    <div class="spot-cards" data-filter-target="cards">
      <%= render "spot_cards", spots: @spots %>
    </div>
    <div class="misty-effect"></div>
  </div>
</div>
