// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$main-text: #0081a7;
$alt-text: #00afb9;
$accent: #f07167;
$hover: #fed9b7;
$background: #ffeddd;
$info-text: #ffffff;
