.message-row {
  display: flex;
  margin-bottom: 10px;
}

.sender-style,
.receiver-style {
  max-width: 75%;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.sender-style {
  background-color: rgba($accent, 0.4);
  align-self: flex-end;
  text-align: right;
  border-top-right-radius: 0;
}

.receiver-style {
  background-color: $background;
  align-self: flex-start;
  text-align: left;
  border-top-left-radius: 0;
}

.sender-style::before,
.receiver-style::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.sender-style::before {
  right: -10px;
  top: 10px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d1f7c4;
}

.receiver-style::before {
  left: -10px;
  top: 10px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f1f1f1 transparent transparent;
}

.chat-avatar-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.container.chat {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $background;
  padding: 50px;
}

.chat-title {
  padding: 12px;
}

.messages {
  flex-grow: 1;
  padding: 12px;
  height: 300px;
  overflow-y: auto;
  color: $main-text;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 75%;
  padding: 10px 15px;
  border-radius: 20px;
  position: relative;
}

.message-sent,
.message-received {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.message-sent {
  background-color: #d1f7c4; /* Couleur de fond pour les messages envoyés */
  text-align: right;
  margin-left: auto;
  border-top-right-radius: 0;
}

.message-sent::before {
  right: -10px;
  top: 10px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d1f7c4;
}

.message-received {
  background-color: #f1f1f1; /* Couleur de fond pour les messages reçus */
  text-align: left;
  margin-right: auto;
  border-top-left-radius: 0;
}

.message-received::before {
  left: -10px;
  top: 10px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f1f1f1 transparent transparent;
}

.message-info {
  margin-bottom: 5px;
}

.message-content {
  margin: 0;
}

.wrapper_btn-chat {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 20px !important;
  padding: 5px 5px; /* Modifié */
  width: 95%;
  margin-bottom: 15px;
}

#new_message {
  position: sticky;
  bottom: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_content {
  background-color: transparent;
  padding: 0;
  border: none !important;
}

#message_content {
  border: none !important;
  background-color: transparent;
  padding: 0;
  outline: none !important;
}

#message_content:focus {
  outline: none !important;
  box-shadow: none !important;
}

.chat-form {
  border-radius: 20px;
  background-color: $background;
  padding: 10px;
  margin-top: 20px;
}

.form-control {
  border-radius: 20px;
}

.form-control:focus {
  outline: none !important;
}

.btn_input_chat {
  flex-shrink: 0;
  height: 50px;
  color: $white;
  width: 50px;
  border-radius: 50% !important;
  background-color: $accent;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}
