.profile-page {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .profile-infos {
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    gap: 24px;
    background-color: $background;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .avatar-profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .profile-details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;

      .profile-buttons-container {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        gap: 10px;
      }

      .profile-edit {
        background: none;
        background-color: $accent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: $white;

        i {
          pointer-events: none;
        }
      }

      .profile-button {
        display: flex;
        gap: 12px;
        text-decoration: none;
      }
    }
  }

  .favourites {
    margin: 12px;

    .carousel-item {
      padding: 0 12px;
    }
  }
}

h4,
h5,
.opacity-75 {
  color: $alt-text;
  margin-top: 8px;
}

.carousel-inner {
  padding-bottom: 8px !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-board {
  background-color: $background;
  color: $main-text;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 300px;
  text-decoration: none;
  border: none;
  position: relative;

  &:hover .card-board-inner {
    transform: rotateY(180deg);
  }
  .board-details {
    text-align: start;
  }

  .card-board-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    animation: moveInLeft 1s ease-out;
  }

  .card-board-front,
  .card-board-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-board-front .image-container,
  .card-board-back .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  .board-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-board-back {
    transform: rotateY(180deg);
    background-color: $background;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.boards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h4 {
    margin: 0;
  }

  .button.board-button {
    background-color: $accent;
    color: $white;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
