.profile-page-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 16px 20px 16px;
  border-bottom: solid 1px rgba($color: $alt-text, $alpha: 0.3);
  gap: 16px;

  .profile-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: transparent;

    h5 {
      color: $alt-text;
      font-weight: bold;
    }

    .follow {
      display: flex;
      gap: 8px;

      p {
        text-align: center;
        font-size: 14px;
        margin-bottom: -4px;
        color: $alt-text;
      }
    }
  }

  .profile-buttons {
    position: absolute;
    top: 0;
    right: 16px;
    color: $accent;
    font-size: 20px;
  }
}

.profile-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;

  .profile-header {
    color: $alt-text;
    display: flex;
    justify-content: space-between;

    .board-button {
      color: $accent;
      font-size: 20px;
    }
  }

  .favourites {
    .carousel-item {
      padding: 0 12px;
    }
  }
}

.favourites {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 12px;
  overflow: scroll;
  padding: 12px;
  margin-left: -12px;
  width: 100vw;

  &::-webkit-scrollbar {
    display: none;
  }
}

.boards-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - 12px);
  gap: 24px;
  overflow: scroll;
  padding: 12px;
  margin-left: -12px;
  width: 100vw;

  .card-board {
    perspective: 1000px;
    height: 300px;

    .card-board-inner {
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.8s;
    }

    .card-board-front,
    .card-board-back {
      -webkit-backface-visibility: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      backface-visibility: hidden;
    }

    .card-board-front .image-container,
    .card-board-back .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .board-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .card-board-back {
      transform: rotateY(180deg);
      background-color: $background;
      padding: 20px;

      .board-details {
        font-size: 14px;
      }
    }

    .rotate {
      transform: rotateY(180deg);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
