<div class="navbar header sticky-top">
  <%= link_to root_path, class: "header-item" do %>
    <%= image_tag "waver_logo.png" %>
  <% end %>
  <% if content_for?(:page) %>
    <div class="header-item title">
      <strong><%= yield :page %></strong>
    </div>
  <% end %>
  <%= link_to chats_path, class: "header-item #{"active" if current_page?(chats_path)}" do %>
    <i class="fa-solid fa-comment"></i>
  <% end %>
</div>
