<div class="navbar header sticky-top">
  <%= link_to root_path, class: "header-item" do %>
    <%= image_tag "waver_logo.png" %>
  <% end %>
  <% if content_for?(:page) %>
    <div class="header-item title">
      <strong><%= yield :page %></strong>
    </div>
<% end %>
</div>
