<% content_for(:page) do %>
  Your chats
<% end %>
<div class="container">
  <h1>Available Chats</h1>
  <div class="list-group">
    <% @chats.each do |chat| %>
      <%= link_to "Chat with #{chat.first_user == current_user ? chat.second_user.first_name : chat.first_user.first_name}", chat_path(chat), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
</div>
