<% content_for(:page) do %>
  Feed
<% end %>
<div class="container">
  <div class="experiences">
    <% current_user.follows.each do |follow| %>
      <% follow.second_user.experiences.reverse.each do |experience| %>
        <%= render "shared/experience", experience: %>
      <% end %>
    <% end %>
  </div>
</div>
