.spot-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spot-card {
  background-color: #ffffff;
  color: $main-text;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-decoration: none;
  border: none;

  .like {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .card-body {
    padding: 16px;
    flex-direction: column;
    gap: 8px;

    .card-title {
      font-size: 18px;
      font-weight: bold;
    }

    .card-location {
      font-size: 14px;
    }
  }
}
