@import "../config/colors";

.filters {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  margin-bottom: 12px;

  .filter {
    padding: 5px 20px;
    border: solid 2px $alt-text;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    background-color: $white;
    transition: background-color 0.3s, transform 0.3s;
    color: $alt-text;

    &.selected {
      background-color: $alt-text;
      color: $white;
    }
  }
}
