.card {
  flex: initial;
  position: relative;
  height: 52rem;
  width: 48rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}

// &:hover &__side--back {
//   transform: rotateY(0);
// }
// &:hover &__side--front {
//   transform: rotateY(-180deg);
// }
