.swipe-form {
  overflow: auto;
  overflow-y: scroll;

  .action {
    min-height: 100vh;
    background-color: transparent;
  }

  .swipe-element {
    height: fit-content;
    background-color: $background;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    .arrow-icon {
      height: 60px;
    }

    .form {
      padding: 0 12px 12px 12px;
    }
  }
}
