.header {
  width: 100%;
  background-color: $background;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .header-item {
    color: $main-text;
    text-decoration: none;
    text-align: center;
    width: 100%;

    &.title {
      font-size: 40px;
      font-family: $concert-one;
      color: $alt-text;
      letter-spacing: 2px;
    }
  }
}
