.navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
  border-top: solid 1px $light-gray;
  background-color: $white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  .navbar-item {
    color: $main-text;
    text-decoration: none;
    text-align: center;

    font-size: 16px;

    &.active {
      color: $accent;
    }

    &.disabled {
      color: lightgrey;
    }

    i {
      font-size: 30px;
    }
  }
}
