.navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
  border-top: solid 1px $light-gray;
  background-color: $background;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 8px 0 20px 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $alt-text;
    text-decoration: none;
    -webkit-text-stroke: 0.5px;
    font-size: 16px;
    height: 100%;

    &.active {
      color: $accent;
      position: relative;

      .dot {
        height: 10px;
        width: 10px;
        background-color: $accent;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%);
      }
    }
    img {
      height: 36px;
      width: 36px;
    }

    i {
      font-size: 30px;
    }
    .bi-house {
      font-size: 35px;
    }
    .bi-person {
      font-size: 35px;
    }
  }
}
